default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: bulletin_board_development
  host:     localhost
  username: postgres
  password: postgres
